<!doctype html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
    <body>
        <div class= "container-fluid bg-dark text-white">
            <h1>What is a {{ name }}!</h1>
            <p>  A template allows for users to generate HTML in python quickly by automating the process of HTML escaping. </p>
            <p>Templates hold static data and includes placeholders for dynamic data. Users can then use the render_template() command and insert the respective parameters in order to generate a working document </p>
        </div>
    </body>
</html>